/* 리셋 */
button,
h1 {
  border: none;
  cursor: pointer;
}
/* 컨테이너 */
#main {
  margin: 0;
  padding: 0;
}

/* 헤더 */
#header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10vh;
  background-color: #beadfa;
}
#header h1 {
  position: absolute;
  left: 200px;
  top: 2px;
}
#header .memo_button {
  overflow: hidden;
  position: absolute;
  right: 200px;
  top: 25px;
}
#header .memo_button .new_memo {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
  font-size: medium;
  font-weight: 700;
  background-color: #fff3da;
}
#header .memo_button .new_folder {
  display: none;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
  font-size: medium;
  font-weight: 700;
  background-color: #fff3da;
}
#header .memo_button .new_memo:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#header .memo_button .new_folder:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 메인 */
#section {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  background-color: #fff3da;
  text-align: center;
}
#section .content1 {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
#section .content1 .content_list {
  width: 1500px;
  height: 740px;
  overflow: auto;
  margin-left: 100px;
  text-align: left;
}
#section .content1 .content_list::-webkit-scrollbar {
  width: 10px;
}
#section .content1 .content_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #beadfa;
}
#section .content1 .content_list div.content {
  display: inline-block;
  overflow: hidden;
  margin: 20px 20px 20px 40px;
  cursor: pointer;
}
#section .content1 .content_list div.content .con_tit {
  height: 40px;
  text-align: left;
  border-radius: 25px 25px 0 0;
  background-color: #6528f7;
}
#section .content1 .content_list div.content .con_tit span {
  margin-left: 20px;
  line-height: 38px;
  color: white;
}
#section .content1 .content_list div.content .con_txt {
  overflow: hidden;
  height: 280px;
  width: 280px;
  text-align: left;
  border-radius: 0 0 25px 25px;
  background-color: white;
}
#section .content1 .content_list div.content .con_txt div {
  overflow: hidden;
  margin: 20px;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
#section .content1 .content_list div.content:hover {
}
/* 푸터 */
#footer {
  width: 100%;
  height: 5vh;
  background-color: #ede4ff;
}

/* 미디어 쿼리 */
@media (max-width: 1400px) {
  #section .content1 .content_list {
    width: 100%;
  }
}

/* 색상 */
/* https://colorhunt.co/palette/fff3dadfccfbd0bfffbeadfa */
